<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="{{ url:site }}">{{ settings:site_name }}</a>
      <ul class="nav">
        {{ navigation:links group="header" }}
      </ul>
      {{ if user:logged_in }}
        <ul class="nav secondary-nav">
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle">{{ user:display_name }}</a>
            <ul class="dropdown-menu">
              {{ if settings:enable_profiles }}
                <li><a href="{{ url:site uri="my-profile" }}">{{ user:display_name }}</a></li>
      		      <li><a href="{{ url:site uri="edit-profile" }}">{{ helper:lang line="edit_profile_label" }}</a><li>
		          {{ endif }}
  		        {{ if user:has_cp_permissions }}
          	    <li><a href="{{ url:site uri="admin" }}" target="_blank">{{ helper:lang line="global:control-panel" }}</a></li>
      		    {{ endif }}
              <li class="divider"></li>
              <li><a href="{{ url:site uri="users/logout" }}">{{ helper:lang line="logout_label" }}</a></li>
            </ul>
          </li>
        </ul>
      {{ else }}
        <form action="{{ url:site uri="users/login" }}" method="post" class="pull-right">
          <input type="hidden" name="redirect_to" value="{{ url:current }}" />
          <input class="input-small" type="email" id="email" name="email" maxlength="120" value="{{ helper:lang line="user_email" }}" onblur="if (this.value == "") {{  this.value = "{{ helper:lang line="user_email" }}";  }}"  onfocus="if (this.value == "{{ helper:lang line="user_email" }}") {{  this.value = "";  }}">
          
          <input class="input-small" type="password" id="password" name="password" maxlength="20" value="{{ helper:lang line="user_password" }}" onblur="if (this.value == "") {{  this.value = "{{ helper:lang line="user_password" }}";  }}"  onfocus="if (this.value == "{{ helper:lang line="user_password" }}") {{  this.value = "";  }}" >
          
          <button class="btn" type="submit" name="btnLogin">{{ helper:lang line="user_login_btn" }}</button>
          <a href="{{ url:site }}register" class="btn primary">{{ helper:lang line="user_register_btn" }}</a>
        </form>
      {{ endif }}
    </div>
  </div>
</div>