<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{{ template:metadata }}
<title>{{ settings:site_name }} &bull; {{ template:title }}</title>


<!-- Guess we better help IE out -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    
<!-- CSS Stylesheets -->
{{ theme:css file="bootstrap.min.css" }}

<style type="text/css">
      body {
        padding-top: 60px;
      }
</style>

{{ theme:js file="jquery-1.7.min.js" }}
{{ theme:js file="jquery.tablesorter.min.js" }}

{{ theme:js file="bootstrap-twipsy.js" }}    
{{ theme:js file="bootstrap-alerts.js" }}
{{ theme:js file="bootstrap-dropdown.js" }}
{{ theme:js file="bootstrap-modal.js" }}
{{ theme:js file="bootstrap-popover.js" }}
{{ theme:js file="bootstrap-scrollspy.js" }}
{{ theme:js file="bootstrap-tabs.js" }}
